/* Bootstrap NavBar: */
.navbar{
    background-color: black;
}
.active, .contact, .about{
    margin: 10px;
    padding: 3px;
    border: 1px white solid;
}
/* Bootstrap Footer */
.footer{
    background-color: black;
    color: blue;
    text-align: center;
}