/* Bootstrap NavBar: */
.navbar{
    background-color: black;
}
.active, .contact, .about{
    margin: 10px;
    padding: 3px;
    border: 1px white solid;
}
/* Container w/ 2 columns */
.container{
    height: 635px;
    background-color: blue;
    padding: 15px;
}
.column1, .column2{
    border: 2px solid;
    border-color: black;
    height: 300px;
    width: 450px;
    margin-left: 75px;
}